.cards {
  margin-bottom: 2em;
}
.card {
  border: none;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}
.btn-more {
  width: 100%;
  background-color: $color-primary;
  color: #fff;
  border-right: 30px solid $color-secondary;
}

.pagination {
  margin: 2.5em 0;
}
