.accordion-collapse {
  background: radial-gradient(#fff, #e5e5e5);
}

.accordion__item {
  padding: 1em;
}

.accordion__item .social {
  font-size: larger;
  text-align: center;
  color: #111;
}
.accordion__item .social i {
  margin-left: 1em;
}
