.navbar-brand {
  font-family: $headings-font-family;
  font-style: italic;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: $color-primary;
}

h1 {
  margin: 2em 0 0.5em 0;
}

.card-title {
  color: $color-titles;
  font-family: $font-family-base;
}
